:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: #171917;
  --color-background-transparent: rgba(23, 25, 23, 0);
  --color-background-half-transparent: rgba(23, 25, 23, 0.5);
  --color-card-background: #303430;
  --accent-color: #4B674B;
  --accent-color-tuned: #374137;
  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-text-secondary: #B4B4B4;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --color-background: #e8eee8;
    --color-background-transparent: rgba(239, 247, 239, 0);
    --color-background-half-transparent: rgba(239, 247, 239, 0.5);
    --color-card-background: #c8d6c8;
    --accent-color: #6f9c6f;
    --accent-color-tuned: #aac4aa;
    --color-text-primary: rgba(0, 0, 0, 0.87);
    --color-text-secondary: #191919;

    color: var(--color-text-primary)
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-primary)
}

h1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 0.875rem;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}

p {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}